*{
    
    padding:0px;
    align-items: center;
    justify-content: center;
}
.navbar{
    text-align: left;
    display: flex;
    margin: 0px 70px;
 
 
}
.logo{
    width: 50%;
    text-align: left;
    color: #1750a0;
}
.login{
    width: 50%;
    text-align: right;
}
.btn{
    background-color: white;
    color: none;
    padding: 10px 30px;
    border-radius: 15px;
}
.main{
    text-align: center;
}
.h1{
    padding-top: 30px;
}
.p{
    padding: 0px 0px 30px 0px;
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background: #eaeaff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  ;
}

.input-wrapper input {
  flex: 1;
  border: none;
  padding: 15px 15px 15px 40px; /* left padding to make space for icon */
  font-size: 16px;
  outline: none;
  background: transparent;
  
}

.input-wrapper button {
  border: none;
  padding: 15px 25px;
  background: #7FA1C3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.input-wrapper button:hover {
  background: #6482AD;
}

.paste-icon {
  position: absolute;
  left: 12px;
  font-size: 18px;
  color: #7FA1C3;
  cursor: pointer;
}
